In [1]:
import pandas as pd
import os
import matplotlib.pyplot as plt
import numpy as np
%matplotlib inline
import json
import requests
import alpaca_trade_api as tradeapi

In [2]:
from dotenv import load_dotenv
load_dotenv('.env')

True

In [3]:
alpaca_api_key=os.getenv('ALPACA_API_KEY')
alpaca_secret_key=os.getenv('ALPACA_SECRET_KEY')

In [4]:
alpaca=tradeapi.REST(
    alpaca_api_key,
    alpaca_secret_key,
    api_version='v2'
)

In [5]:
t1=['HMC','BBY','BLNK','ANTM','KO','CTVA','CVS','LEVI','SAM','EPC','ETSY','EXC','F','FOSL','FMS']
t2=['GME','CL','HP','SJM','EPC','VFC','SIG','LULU','MSFT','TAP','OC','PEP','PFE','RL','RDFN']
t3= ['SAP','BNS','SIX','SBUX','TGT','TD','CLX','CZR','HSY','VFC','UL','UPWK','VZ','VRTX','FB','WBA','WSFS']
t4='SPY' # have not run this don't know the ticker. I think we may need this to see how the broadr mkt moved during that period

In [6]:

timeframe='1D'
start_date=pd.Timestamp("2019-06-01",tz='America/New_York').isoformat()
end_date=pd.Timestamp("2019-12-31",tz='America/New_York').isoformat()

ticker_data1=alpaca.get_barset(
    t1,
    timeframe,
    start=start_date,
    end=end_date,
    limit=1000,

).df

In [7]:
timeframe='1D'
start_date=pd.Timestamp("2019-06-01",tz='America/New_York').isoformat()
end_date=pd.Timestamp("2019-12-31",tz='America/New_York').isoformat()

ticker_data2=alpaca.get_barset(
    t2,
    timeframe,
    start=start_date,
    end=end_date,
    limit=1000,

).df

In [8]:
timeframe='1D'
start_date=pd.Timestamp("2019-06-01",tz='America/New_York').isoformat()
end_date=pd.Timestamp("2019-12-31",tz='America/New_York').isoformat()

ticker_data3=alpaca.get_barset(
    t3,
    timeframe,
    start=start_date,
    end=end_date,
    limit=1000,

).df

In [9]:
timeframe='1D'
start_date=pd.Timestamp("2019-06-01",tz='America/New_York').isoformat()
end_date=pd.Timestamp("2019-12-31",tz='America/New_York').isoformat()

ticker_data4=alpaca.get_barset(
    t4,
    timeframe,
    start=start_date,
    end=end_date,
    limit=1000,

).df

In [10]:
# Create and empty DataFrame for closing prices
df_closing_prices3 = pd.DataFrame()

# Fetch the closing prices for all the tickers
for ticker in t3:
    df_closing_prices3[ticker] = ticker_data3[ticker]["close"]

# Drop the time component of the date
df_closing_prices3.index = df_closing_prices3.index.date

# Display sample data
df_closing_prices3.head()

,SAP,BNS,SIX,SBUX,TGT,TD,CLX,CZR,HSY,VFC,UL,UPWK,VZ,VRTX,FB
2019-06-03,122.855,NaN,NaN,76.21,82.96,NaN,NaN,8.61,132.30,NaN,61.52,NaN,56.360,NaN,164.01
2019-06-04,125.830,52.28,51.18,78.52,85.88,55.790,152.78,9.00,133.13,85.11,61.38,14.41,56.220,171.27,167.52
2019-06-05,126.260,52.10,51.25,79.96,85.46,56.050,155.40,9.02,136.06,85.77,61.69,14.16,57.040,173.26,168.15
2019-06-06,126.490,52.37,51.68,81.41,85.73,56.395,158.96,9.13,137.24,84.45,62.08,14.34,57.545,167.82,168.32
2019-06-07,129.610,52.98,51.84,82.47,86.85,56.700,156.61,9.45,138.01,84.70,62.53,14.38,57.210,173.51,173.34

In [11]:
# Create and empty DataFrame for closing prices
df_closing_prices2 = pd.DataFrame()

# Fetch the closing prices for all the tickers
for ticker in t2:
    df_closing_prices2[ticker] = ticker_data2[ticker]["close"]

# Drop the time component of the date
df_closing_prices2.index = df_closing_prices2.index.date

# Display sample data
df_closing_prices2.head()

,GME,CL,HP,SJM,EPC,VFC,SIG,LULU,MSFT,TAP,OC,PEP,PFE,RL,RDFN
2019-06-03,7.4600,70.66,NaN,124.30,NaN,NaN,19.09,163.980,119.88,55.90,48.80,128.94,41.93,107.16,15.51
2019-06-04,7.8265,70.84,50.33,124.60,29.90,85.11,20.55,168.900,123.20,58.00,51.10,129.06,42.23,111.81,16.28
2019-06-05,5.0601,71.91,50.99,125.25,29.54,85.77,19.44,173.570,125.83,57.43,51.81,131.40,42.51,111.01,16.00
2019-06-06,5.1100,73.11,51.20,122.43,30.16,84.45,19.16,170.440,127.90,57.72,53.06,132.00,42.76,109.47,16.08
2019-06-07,5.0100,73.99,51.87,124.51,30.73,84.70,19.72,172.421,131.40,56.98,52.60,133.45,42.92,110.89,16.86

In [12]:
df_closing_prices1 = pd.DataFrame()

# Fetch the closing prices for all the tickers
for ticker in t1:
    df_closing_prices1[ticker] = ticker_data1[ticker]["close"]

# Drop the time component of the date
df_closing_prices1.index = df_closing_prices1.index.date

# Display sample data
df_closing_prices1.head()

,HMC,BBY,BLNK,ANTM,KO,CTVA,CVS,LEVI,SAM,EPC,ETSY,EXC,F,FOSL,FMS
2019-06-03,NaN,63.21,2.07,NaN,49.9500,NaN,53.39,20.635,315.62,NaN,61.07,48.52,9.610,10.25,36.84
2019-06-04,25.48,63.94,2.32,279.81,50.0000,27.48,54.63,21.480,305.77,29.90,61.20,48.71,9.920,11.51,37.69
2019-06-05,25.63,63.24,2.29,276.96,50.8000,27.97,53.18,21.350,309.90,29.54,61.49,49.72,9.770,11.18,37.45
2019-06-06,25.45,62.31,2.32,277.50,51.4100,26.89,54.14,20.820,319.97,30.16,61.97,50.24,9.750,10.70,37.51
2019-06-07,25.58,63.72,2.37,278.12,51.4753,26.31,53.92,20.975,320.36,30.73,63.89,49.96,9.755,11.10,37.61

In [13]:
df_closing_prices4 = pd.DataFrame()
df_closing_prices4['SPY'] = ticker_data4['SPY']["close"]

df_closing_prices4.index = df_closing_prices4.index.date

# Display sample data
df_closing_prices4.head()

               SPY
2019-06-03  274.54
2019-06-04  280.52
2019-06-05  282.90
2019-06-06  284.74
2019-06-07  287.63

In [14]:
combined_ticker_clsprices=pd.concat([df_closing_prices1,df_closing_prices2,df_closing_prices3,df_closing_prices4],axis='columns',join='inner')

In [15]:
combined_ticker_clsprices

,HMC,BBY,BLNK,ANTM,KO,CTVA,CVS,LEVI,SAM,EPC,...,CLX,CZR,HSY,VFC,UL,UPWK,VZ,VRTX,FB,SPY
2019-06-03,NaN,63.21,2.070,NaN,49.9500,NaN,53.39,20.635,315.62,NaN,...,NaN,8.61,132.30,NaN,61.52,NaN,56.360,NaN,164.01,274.54
2019-06-04,25.48,63.94,2.320,279.81,50.0000,27.4800,54.63,21.480,305.77,29.90,...,152.78,9.00,133.13,85.11,61.38,14.41,56.220,171.27,167.52,280.52
2019-06-05,25.63,63.24,2.290,276.96,50.8000,27.9700,53.18,21.350,309.90,29.54,...,155.40,9.02,136.06,85.77,61.69,14.16,57.040,173.26,168.15,282.90
2019-06-06,25.45,62.31,2.320,277.50,51.4100,26.8900,54.14,20.820,319.97,30.16,...,158.96,9.13,137.24,84.45,62.08,14.34,57.545,167.82,168.32,284.74
2019-06-07,25.58,63.72,2.370,278.12,51.4753,26.3100,53.92,20.975,320.36,30.73,...,156.61,9.45,138.01,84.70,62.53,14.38,57.210,173.51,173.34,287.63
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-12-24,28.67,87.95,2.020,304.50,54.7100,28.8211,74.54,19.630,378.40,31.01,...,152.46,13.59,146.09,98.85,56.71,10.56,61.250,220.52,205.15,321.26
2019-12-26,28.78,87.87,2.000,304.76,55.0100,29.1900,74.50,19.630,384.42,31.03,...,152.93,13.61,146.34,99.39,56.80,10.42,61.300,220.27,207.79,322.91
2019-12-27,28.58,87.01,1.940,306.47,55.3500,29.1200,74.37,19.240,379.10,30.86,...,153.53,13.62,147.62,99.96,57.70,10.42,61.530,221.08,208.10,322.86
2019-12-30,28.26,87.58,1.935,305.38,55.2800,28.8728,73.71,19.010,379.72,30.61,...,152.88,13.55,146.80,99.56,57.30,10.30,61.210,219.09,204.41,321.10
2019-12-31,28.31,87.80,1.850,301.82,55.3300,29.5600,74.26,19.310,378.36,30.95,...,153.49,13.61,146.95,99.68,57.18,10.66,61.370,218.95,205.09,321.92

In [16]:
# Combined dataframe of all tickers.
# combined_ticker=pd.concat([df_closing_prices1,df_closing_prices2,df_closing_prices3],axis=1,join='inner')

In [17]:
# combined_ticker.head()

In [18]:
combined_ticker_clsprices.to_csv('closingprice2019withSP.csv')

In [21]:
change_prices=combined_ticker_clsprices.pct_change().dropna()
change_prices.head()
change_prices.to_csv('change_prices_2019.csv')

In [20]:
change_prices.isnull().sum()

HMC     0
BBY     0
BLNK    0
ANTM    0
KO      0
CTVA    0
CVS     0
LEVI    0
SAM     0
EPC     0
ETSY    0
EXC     0
F       0
FOSL    0
FMS     0
GME     0
CL      0
HP      0
SJM     0
EPC     0
VFC     0
SIG     0
LULU    0
MSFT    0
TAP     0
OC      0
PEP     0
PFE     0
RL      0
RDFN    0
SAP     0
BNS     0
SIX     0
SBUX    0
TGT     0
TD      0
CLX     0
CZR     0
HSY     0
VFC     0
UL      0
UPWK    0
VZ      0
VRTX    0
FB      0
SPY     0
dtype: int64